<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>SubMore Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <form action="/user/login" method="post">

        <div class="login-container">
            <div class="login-card">
                <div class="logo-section">
                    <img th:src="@{/images/logo.jpg}" alt="SubMore 로고" class="logo-img">
                </div>

                <div class="content-section">
                    <input type="text" name="loginId" placeholder="ID 입력" required>
                    <input type="password" name="password" placeholder="password 입력" required>
                    <button type="submit" class="login-btn ">로그인</button>
                </div>
            </div>

            <div class="footer-links">
                <div class="link-left">
                    비밀번호를 잊으셨나요? <a href="#">비밀번호 찾기</a>
                </div>
                <div class="link-right">
                    아직 계정이 없으신가요? <a th:href="@{/user/join-view}">회원가입</a>
                </div>
            </div>
        </div>

    </form>



</body>
</html>