<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>SubMore Login</title>
</head>
<body>

    <form action="/user/login" method="post">

        <div class="login-bar">
            <div class="logo-area">로고</div>
            <div class="input-area">
                <input type="text" name="loginId" placeholder="ID 입력칸" required>
                <input type="password" name="password" placeholder="password 입력칸" required>
            </div>
            <button type="button" class="login-btn">로그인 버튼</button>
        </div>

        <div style="text-align: center; margin-top: 10px;">
            아직 계정이 없으시다면 <a th:href="@{/user/join-view}">회원가입</a>
        </div>

    </form>

</body>
</html>